<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Forms - SB Admin</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'shopmgr/css/bootstrap.css' %}" rel="stylesheet">
    <!-- Add custom CSS here -->
    <link href="{% static 'shopmgr/css/sb-admin.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'shopmgr/css/font-awesome.min.css' %}">
    <script src="{% static 'shopmgr/js/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'shopmgr/js/bootstrap.js' %}"></script>
    <script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // function showinfo() {
    //     console.log("execute show_orders")
    //     $.post("/shopmgr/show_personal_info", {
    //         csrfmiddlewaretoken: csrftoken
    //     }, function(data, status) {
    //         var obj = JSON.parse(data);
    //         var myinfo = obj.shop_info[0];
    //         console.log(myinfo);
    //         var shopname = myinfo.shopname;
    //         var review_score = myinfo.review_score;
    //         var shop_img = myinfo.shop_img;
    //         var lis = '<ul><li><h3>店铺名称： ' + shopname + '</h3></li><li><h3>评分： ' + review_score + '</h3></li><li><img src=\"' + "{{MEDIA_DETAIL}}" + shop_img + '\" /></li></ul>';
    //         $(lis).appendTo("#personal_info");
    //     });
    // }
    var csrftoken = getCookie('csrftoken');
    $(document).ready(function() {
        console.log("ready!");
        // showinfo();
        var lis = '<ul><li><h3>店铺名称： ' + "{{shop.shopname}}" + '</h3></li><li><h3>评分： ' + "{{shop.review_score}}" + '</h3></li><li><img src=\"{{MEDIA_URL}}{{shop.shop_img}}\"/></li></ul>';
        $(lis).appendTo("#personal_info");
    });
    </script>
</head>

<body>
    <div id="wrapper">
        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'shopmgr:index' %}">点餐 课设</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active"><a href="{% url 'shopmgr:index' %}"><i class="fa fa-dashboard"></i> 订单中心</a></li>
                    <li><a href="charts.html"><i class="fa fa-bar-chart-o"></i> 外卖管理</a></li>
                    <li><a href="{% url 'shopmgr:complete_shopinfo' %}"><i class="fa fa-table"></i> 完善信息</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="dropdown messages-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">7</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">7 New Messages</li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                                    <span class="name">John Smith:</span>
                                    <span class="message">Hey there, I wanted to ask you something...</span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                                    <span class="name">John Smith:</span>
                                    <span class="message">Hey there, I wanted to ask you something...</span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="message-preview">
                                <a href="#">
                                    <span class="avatar"><img src="http://placehold.it/50x50"></span>
                                    <span class="name">John Smith:</span>
                                    <span class="message">Hey there, I wanted to ask you something...</span>
                                    <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="#">View Inbox <span class="badge">7</span></a></li>
                        </ul>
                    </li>
                    <li class="dropdown alerts-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Alerts <span class="badge">3</span> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Default <span class="label label-default">Default</span></a></li>
                            <li><a href="#">Primary <span class="label label-primary">Primary</span></a></li>
                            <li><a href="#">Success <span class="label label-success">Success</span></a></li>
                            <li><a href="#">Info <span class="label label-info">Info</span></a></li>
                            <li><a href="#">Warning <span class="label label-warning">Warning</span></a></li>
                            <li><a href="#">Danger <span class="label label-danger">Danger</span></a></li>
                            <li class="divider"></li>
                            <li><a href="#">View All</a></li>
                        </ul>
                    </li>
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user.username}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>
                            <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1>完善/更新<small> 店铺信息</small></h1>
                </div>
            </div>
            <!-- /.row -->
            <div class="col-lg-4" id="personal_info">
                <h1>店铺信息</h1>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <form enctype="multipart/form-data" role="form" action="{% url 'shopmgr:add_icon' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Upload your icon</label>
                            <input type="file" name="icon" /> {% if message %}
                            <label>{{message}}</label>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label>店铺名称</label>
                            <input class="form-control" name="shopname" id="shopname">
                        </div>
                        <div class="form-group">
                            <label>起送价格</label>
                            <input class="form-control" name="least_price" id="least_price">
                        </div>
                        <div class="form-group">
                            <label>配送费</label>
                            <input class="form-control" name="deliver_fee" id="deliver_fee">
                        </div>
                        <button type="submit" class="btn btn-default">Submit Button</button>
                        <button type="reset" class="btn btn-default">Reset Button</button>
                    </form>
                </div>
                <div class="col-lg-6">
                </div>
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->
        </div>
    </div>
    <!-- /#wrapper -->
    <!-- JavaScript -->
</body>

</html>
